.directories-box
  background-color $dark - 50%
  rounded 5px
  padding 15px 0
  > .item 
    flexbox flex
    align-items center
    padding 7px 20px
    font-size 1.6rem
    color $light
    cursor pointer
    transition .3s
  > .item > .zmdi 
    width 20px
  > .item.-dir
    color $blue
  > .item:hover 
    background-color $dark