.readme-content
  background-color $dark - 20%
  margin-top 20px
  padding 20px
  rounded 5px
  font-size 1.4rem
  color $light
  a 
    color $blue
    text-decoration underline
    &:hover 
      text-decoration none
  
  img 
    max-width 100%
    height auto
  
  pre
    background-color $dark + 10%
    rounded 3px
    width 100%
    padding 15px