.form-group
	> .action.-search
		position absolute
		right 0
		top 0
		padding 12px 25px
		font-size 2.4rem
		color $blue
		background-color transparent
		border 0
		cursor pointer
		rounded 0 30px 30px 0