<article ng-controller="RepositoryController as ctrl">
  
  <header class="repo-box -header" ng-if="!ctrl.errorRepository">
    <div class="owner-repository" ng-if="userName != ctrl.repository.owner.login">
      <div class="photo">
        <img ng-src="{{ ctrl.repository.owner.avatar_url }}" alt="{{ ctrl.repository.owner.login }}">
      </div>

      <h4 class="name">por <a href="{{ ctrl.repository.owner.html_url }}" class="link-text" target="_blank">{{ ctrl.repository.owner.login }}</a></h4>
    </div>
    
    <div class="labels">
      <div class="label-item" ng-if="ctrl.repository.language != null">
        <i class="zmdi zmdi-label-alt"></i> {{ ctrl.repository.language }}
      </div>

      <div class="label-item" ng-if="ctrl.repository.stargazers_count != null">
        <i class="zmdi zmdi-star"></i> {{ ctrl.repository.stargazers_count }}
      </div>

      <div class="label-item" ng-if="ctrl.repository.forks_count != null">
        <i class="zmdi zmdi-copy"></i> {{ ctrl.repository.forks_count }}
      </div>
    </div><!-- End .tags -->

    <h3 class="title">{{ ctrl.repository.name }}</h3>
    <a href="{{ ctrl.repository.html_url }}" class="link-text" target="_blank">{{ ctrl.repository.html_url }}</a>
    <p class="description" ng-if="ctrl.repository.description">{{ ctrl.repository.description }}</p>
    <a href="{{ ctrl.repository.homepage }}" class="btn" target="_blank" ng-if=" ctrl.repository.has_pages && ctrl.repository.homepage "><i class="zmdi zmdi-eye"></i> {{ ctrl.repository.homepage }}</a>
  </header><!-- End .repo-box -->

  <div class="directories-box" ng-if="!ctrl.errorContents">
    <div class="item -dir" ng-if="ctrl.subItem" ng-click="ctrl.returnContents()">
      <i class="zmdi zmdi-more"></i>
    </div>

    <div class="item" ng-repeat="path in ctrl.path" ng-class="{ '-file': path.type == 'file', '-dir': path.type == 'dir' }" ng-click="ctrl.selectPath( path.type, path.path )">
      <i class="zmdi" ng-class="{ 'zmdi-file': path.type == 'file', 'zmdi-folder': path.type == 'dir' }"></i> {{ path.path }}
    </div>
  </div><!-- End .directories-box -->

  <div class="readme-content" ng-if="!ctrl.errorFile || !ctrl.errorReadme">
    <div ng-bind-html="ctrl.viewFile"></div>
  </div>

  <div class="alert-message" ng-if="ctrl.errorContents">
    Repositório vazio!
  </div>
</article>