.brand-header
	width 100%
	text-align center
	@media ( max-width 770px )
		margin-bottom 30px
	> .link
		display inline-block
		text-decoration none
		&:hover 
			.brand b 
				text-shadow 0 0 0 transparent
	> .link > .brand
		font-size 4.2rem
		margin 0
		color white
		font-weight 300
	> .link > .brand > b
		font-weight 700
		text-shadow 0 0 15px $purpleLight
		transition .3s