.container-app
  width $w-container
  margin 0 auto
  flexbox flex
  align-items start
  > .column
    &.-aside
      width $w-aside
    &.-content
      width $w-content
      padding-left 30px

* 
  box-sizing border-box