.form-group
  position relative
  > .field
    display block
    width 100%
    font-size 1.8rem
    font-weight 300
    color white
    background-color transparent
    border 1px solid $purple
    padding 15px 30px
    rounded 30px 
    transition .3s
    &:focus
      border-color $purpleLight
      drop-shadow inset 0 0 10px $purple