* 
  font-family Raleway
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  text-shadow 1px 1px 1px rgba(0,0,0,0.004)
  outline none !important

a 
  text-decoration none
  cursor pointer

.link-text
  flexbox inline-flex
  font-weight 700
  color $blue
  &:hover 
    text-decoration underline

.title-page
  font-size 3rem
  font-weight 300
  margin 0 0 20px
  @media ( max-width 770px )
    font-size 2.2rem
  > .label 
    color $blue